crawlers/bilibili/config.yaml

.idea/
.vscode/
__pycache__/
*.pyc
.env
venv/
node_modules/
dist/
build/

# ========== 日志文件 ==========
logs/
**/logs/
*.log

# ========== 图片文件 ==========
*.jpg
*.jpeg
*.png
*.JPG
*.JPEG
*.PNG

# ========== 本地minio空间文件 ==========
deploy/data/minio_data/