fastapi
uvicorn
pydantic
starlette
SQLAlchemy
pymysql
clickhouse-driver
redis
aiokafka
httpx
requests
aiofiles
bcrypt
PyJWT
cryptography
PyYAML
python-dotenv
rich
browser-cookie3
importlib-resources
nacos-sdk-python>=2.0.0