asynch
fastapi
uvicorn
pydantic
dotenv
starlette
SQLAlchemy
pymysql
clickhouse-driver
redis
aiokafka
httpx==0.23.3
requests
aiofiles
bcrypt
PyJWT
cryptography
PyYAML
python-dotenv
rich
browser-cookie3
importlib-resources
nacos-sdk-python>=2.0.0