asynch==0.3.1
fastapi==0.110.2
uvicorn
pydantic==2.12.5
starlette
SQLAlchemy==2.0.45
pymysql
clickhouse-driver==0.2.10
redis==7.3.0
aiokafka==0.13.0
httpx==0.23.3
requests
aiofiles==24.1.0
bcrypt
PyJWT
cryptography
PyYAML==6.0.1
python-dotenv==1.2.2
rich==14.3.3
browser-cookie3
importlib-resources
nacos-sdk-python==3.0.4
minio==7.2.20